In [1]:
a =[10,20,30]
b=[1,2,3]
print(a+b)

[10, 20, 30, 1, 2, 3]

In [5]:
result =[]
for i in range (3):
    result.append(a[i]+b[i])
  
print(result)

[11, 22, 33]

In [6]:
!pip install numpy
import numpy as np
a= np.array([10,20,30])
b= np.array([1,2,3])
print(a+b)

Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (2.2.6)
[11 22 33]

In [7]:
import numpy as np
a= np.array([10,20.5,30])
# b= np.array([1,2,3])
print(a)
print(a.dtype)

[10.  20.5 30. ]
float64

In [23]:
# this is the implicit data typecasting in which the datatype is changed to the float 
import numpy as np
a= np.array([10,20.5,30])
b= np.array([1,2,3.0])
print(a+b)
print(a.dtype)

[11.  22.5 33. ]
float64

In [24]:
# print("min:",np.sub(a,b) there is no function for the addition and subtraction 
print("mean",np.mean(a))
print("mean",np.mean(b))
print("std dev:",np.std(a))
print("max:",np.max(a))
print("max:",np.max(b))
print("min:",np.min(a))
print("min:",np.min(b))
print(a.dtype)
print(b.dtype)

mean 20.166666666666668
mean 2.0
std dev: 8.16836716989523
max: 30.0
max: 3.0
min: 10.0
min: 1.0
float64
float64

In [28]:
!pip install pandas
import pandas as pd
# data = [1,2,3,5]

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [39]:
data = [1,2,3,4]

ser = pd.Series(data)
print(ser)
print(ser.index)
print(ser.values)
print(type(ser))

0    1
1    2
2    3
3    4
dtype: int64
RangeIndex(start=0, stop=4, step=1)
[1 2 3 4]
<class 'pandas.core.series.Series'>

In [70]:
data_2d = np.array([1, 2, 3 ,4.5, 5, 6, 7, 8, 9])
ser = pd.Series(data_2d)
print(data_2d)

print(ser[::3])

[1.  2.  3.  4.5 5.  6.  7.  8.  9. ]
0    1.0
3    4.5
6    7.0
dtype: float64

In [83]:
days= ["Mon","Tue","Wed","Thru","Fri","Sat","Sun"]
temps = ([30, 40, 50, 12, 35, 25, 10]) 

seq =pd.Series(temps , index =days) 
print(seq)
print(seq.iloc[1])
print(seq['Mon'])
print(seq[::3])
print(seq[:'Tue'])

print(seq.head())
print("first 3",seq.head(3))


print("-------------",seq.head())
print("-------------",seq.tail())

Mon     30
Tue     40
Wed     50
Thru    12
Fri     35
Sat     25
Sun     10
dtype: int64
40
30
Mon     30
Thru    12
Sun     10
dtype: int64
Mon    30
Tue    40
dtype: int64
Mon     30
Tue     40
Wed     50
Thru    12
Fri     35
dtype: int64
first 3 Mon    30
Tue    40
Wed    50
dtype: int64
------------- Mon     30
Tue     40
Wed     50
Thru    12
Fri     35
dtype: int64
------------- Wed     50
Thru    12
Fri     35
Sat     25
Sun     10
dtype: int64