In [1]:
d = {}
type(d)

dict

In [2]:
# Empty dictionary
empty_dict = {}

# Dictionary with key-value pairs
student = {
    "name": "Alice",
    "age": 25,
    "grade": "A"
}

# Using dict() constructor
person = dict(name="John", age=30, city="New York")

In [3]:
student

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [8]:
student["grade"]

'A'

In [7]:
# Using keys
print(student["name"])  # Alice

# Using get() (avoids KeyError if key doesn't exist)
print(student.get("age"))  # 25
print(student.get("height", "Not Found"))  # Default value

Alice
25
Not Found

In [15]:
student.keys()
print(student.values())

dict_values(['Alice', 25, 'A'])

In [19]:
student.items()

dict_items([('name', 'Alice'), ('age', 25), ('grade', 'A')])

In [25]:
student.update({"name" : "heet"})
student

{'name': 'heet', 'age': 25, 'grade': 'A'}

In [29]:
student = {"name": "", "age": 25, "grade": "A"}

# Adding a new key-value pair
student["city"] = "New York"

# Updating an existing value
student["age"] = 26

# Removing an item
student.pop("grade")

# Iterating over a dictionary
for key, value in student.items():
    print(key, ":", value)

# Output:
# name : Alice
# age : 26
# city : New York

name :
age : 26
city : New York

In [30]:
student.setdefault("name","uk")

''