In [1]:
pip install numpy

Collecting numpy
  Downloading numpy-2.4.2-cp311-cp311-win_amd64.whl.metadata (6.6 kB)
Downloading numpy-2.4.2-cp311-cp311-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 3.4 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/12.6 MB 3.5 MB/s eta 0:00:04
   ------ --------------------------------- 2.1/12.6 MB 3.6 MB/s eta 0:00:03
   --------- ------------------------------ 2.9/12.6 MB 3.6 MB/s eta 0:00:03
   ----------- ---------------------------- 3.7/12.6 MB 3.5 MB/s eta 0:00:03
   ------------- -------------------------- 4.2/12.6 MB 3.5 MB/s eta 0:00:03
   ---------------- ----------------------- 5.2/12.6 MB 3.6 MB/s eta 0:00:03
   ------------------- -------------------- 6.0/12.6 MB 3.7 MB/s eta 0:00:02
   ---------------------- ----------------- 7.1/12.6 MB 3.7 MB/s eta 0:00:02
   ------------------------ --------------- 7.9/12.6 MB 3.8 MB/s eta 0:00:02
   --------------------------- ------------ 8.7/12.6 MB 3.8 MB/s eta 0:00:02
   ----------------------------- ---------- 9.4/12.6 MB 3.8 MB/s eta 0:00:01
   -------------------------------- ------- 10.2/12.6 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.6 MB 3.8 MB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 3.8 MB/s  0:00:03
Installing collected packages: numpy
Successfully installed numpy-2.4.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\envs\data\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\envs\data\lib\site-packages (from pandas) (2.9.0.post0)
Collecting tzdata (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\envs\data\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp311-cp311-win_amd64.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   --- ------------------------------------ 0.8/9.9 MB 3.7 MB/s eta 0:00:03
   ------ --------------------------------- 1.6/9.9 MB 4.0 MB/s eta 0:00:03
   --------- ------------------------------ 2.4/9.9 MB 4.1 MB/s eta 0:00:02
   ------------ --------------------------- 3.1/9.9 MB 4.1 MB/s eta 0:00:02
   --------------- ------------------------ 3.9/9.9 MB 3.9 MB/s eta 0:00:02
   ------------------- -------------------- 4.7/9.9 MB 3.9 MB/s eta 0:00:02
   ---------------------- ----------------- 5.5/9.9 MB 3.8 MB/s eta 0:00:02
   ------------------------- -------------- 6.3/9.9 MB 3.8 MB/s eta 0:00:01
   ---------------------------- ----------- 7.1/9.9 MB 3.8 MB/s eta 0:00:01
   ------------------------------- -------- 7.9/9.9 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.9 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.9 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 3.8 MB/s  0:00:02
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, pandas

   ---------------------------------------- 0/2 [tzdata]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   ---------------------------------------- 2/2 [pandas]

Successfully installed pandas-3.0.0 tzdata-2025.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
# 1 Create one-dimensional NumPy arrays
import numpy as np
import pandas as pd

arr_int = np.array([1,20,3,4,5])
print("integer array",arr_int)

arr_float = np.array([1,2.1,3.4,2.0])
print("integer array",arr_float)

arr_mixed = np.array([1,2,'two',True])
print("integer array",arr_mixed)

integer array [ 1 20  3  4  5]
integer array [1.  2.1 3.4 2. ]
integer array ['1' '2' 'two' 'True']

In [4]:
print("\nAddition",arr_int+10)
print("Subtraction:", arr_int - 2)
print("Multiplication:", arr_int * 3)
print("Division:", arr_int / 2)

print("\nMean:", np.mean(arr_int))
print("Max:", np.max(arr_int))
print("Min:", np.min(arr_int))
print("Standard Deviation:", np.std(arr_int))

Addition [11 30 13 14 15]
Subtraction: [-1 18  1  2  3]
Multiplication: [ 3 60  9 12 15]
Division: [ 0.5 10.   1.5  2.   2.5]

Mean: 6.6
Max: 20
Min: 1
Standard Deviation: 6.829348431585549

In [5]:
# Example: Days of the week as index
day=np.array(['mon','tue','wed','thu','fri'])
p =pd.Series(arr_int,index=day)
print(p)

mon     1
tue    20
wed     3
thu     4
fri     5
dtype: int64

In [6]:
#print("\ns[0]",p[2])
print(p['wed'])
print(p['mon':'fri'])

3
mon     1
tue    20
wed     3
thu     4
fri     5
dtype: int64

In [7]:
p.head()

mon     1
tue    20
wed     3
thu     4
fri     5
dtype: int64

In [8]:
p.tail(2)

thu    4
fri    5
dtype: int64

In [9]:
print("counts",p.value_counts())

counts 1     1
20    1
3     1
4     1
5     1
Name: count, dtype: int64

In [10]:
p.describe()

count     5.000000
mean      6.600000
std       7.635444
min       1.000000
25%       3.000000
50%       4.000000
75%       5.000000
max      20.000000
dtype: float64

In [11]:
import numpy as np
import pandas as pd
data = pd.read_csv('C:\\Downloads\\Python-Data Science\\Lab_Lecture\\weather.csv')

In [12]:
data.head(7)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
5,6.2,16.9,0.0,5.8,8.2,SE,44.0,SE,E,20.0,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No
6,6.1,18.2,0.2,4.2,8.4,SE,43.0,SE,ESE,19.0,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No

In [13]:
data.tail()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [14]:
data.shape

(366, 22)

In [15]:
data.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='str')

In [16]:
type(data)

pandas.DataFrame

In [17]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    str
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    str
 8   WindDir3pm     365 non-null    str
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    str
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    str
dtypes: float64(12), int64(5), str(5)
memory usage: 63.0 KB

In [18]:
data.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='str')

In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Downloads\\Python-Data Science\\Lab_Lecture\\weather.csv')  
df.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [20]:
df.loc[2]

MinTemp            13.7
MaxTemp            23.4
Rainfall            3.6
Evaporation         5.8
Sunshine            3.3
WindGustDir          NW
WindGustSpeed      85.0
WindDir9am            N
WindDir3pm          NNE
WindSpeed9am        6.0
WindSpeed3pm          6
Humidity9am          82
Humidity3pm          69
Pressure9am      1009.5
Pressure3pm      1007.2
Cloud9am              8
Cloud3pm              7
Temp9am            15.4
Temp3pm            20.2
RainToday           Yes
RISK_MM            39.8
RainTomorrow        Yes
Name: 2, dtype: object

In [21]:
df.loc[2:5]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
5,6.2,16.9,0.0,5.8,8.2,SE,44.0,SE,E,20.0,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No

In [22]:
df.iloc[0:3, 1:3]

   MaxTemp  Rainfall
0     24.3       0.0
1     26.9       3.6
2     23.4       3.6

In [23]:

df[df['MaxTemp'] > 35]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
71,17.5,35.8,0.0,9.4,13.3,SSE,57.0,NNW,NW,6.0,...,24,1011.8,1006.5,0,1,24.7,34.5,No,0.0,No
72,20.9,35.7,0.0,13.8,6.9,SW,50.0,E,WNW,4.0,...,28,1007.6,1003.0,7,2,23.6,34.0,No,2.0,Yes
135,13.8,35.2,0.0,6.4,11.2,SE,48.0,SE,ESE,7.0,...,15,1022.5,1019.3,5,2,21.4,34.1,No,0.0,No

In [24]:
df[df['Evaporation'] < 5]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
6,6.1,18.2,0.2,4.2,8.4,SE,43.0,SE,ESE,19.0,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No
8,8.8,19.5,0.0,4.0,4.1,S,48.0,E,ENE,19.0,...,48,1026.1,1022.7,7,7,14.1,18.9,No,16.2,Yes
10,9.1,25.2,0.0,4.2,11.9,N,30.0,SE,NW,6.0,...,34,1024.4,1021.1,1,2,14.6,24.0,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,4.6,22.0,0.0,4.4,11.0,N,41.0,NNW,N,6.0,...,25,1028.8,1024.9,1,2,10.0,21.4,No,0.0,No
346,4.5,23.9,0.0,4.8,11.7,NW,30.0,ENE,NNW,4.0,...,27,1025.8,1021.5,0,4,12.6,22.3,No,0.0,No
349,9.2,19.6,0.6,3.4,10.4,ENE,31.0,SSE,NNW,4.0,...,42,1022.3,1019.7,7,4,11.6,18.4,No,0.0,No
350,4.4,21.0,0.0,4.2,12.2,NW,28.0,SW,NW,2.0,...,30,1025.7,1022.3,1,1,9.6,19.2,No,0.0,No
356,3.4,15.0,0.8,4.8,11.7,S,70.0,S,S,35.0,...,24,1023.4,1023.1,1,5,8.3,14.3,No,0.0,No

In [25]:

np.mean(df['MaxTemp'])

np.float64(20.550273224043714)

In [26]:

np.max(df['MaxTemp'])

np.float64(35.8)

In [27]:

np.min(df['MaxTemp'])

np.float64(7.6)

In [28]:
df['MaxTemp'].mean()

np.float64(20.550273224043714)

In [29]:

df['MaxTemp'].max()

np.float64(35.8)

In [30]:

df['MaxTemp'].min()

np.float64(7.6)

In [31]:

df['MaxTemp_f'] = (df['MaxTemp'] * 9/5) + 32

In [32]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,MaxTemp_f
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes,75.74
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes,80.42
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes,74.12
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes,59.90
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No,60.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No,87.26
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No,83.12
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No,67.82
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No,80.42
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No,86.36

In [33]:
import pandas as pd
df = pd.read_csv("weather.csv")
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [34]:

selected_cols = df[['MinTemp', 'MaxTemp', 'Rainfall']]
selected_cols.to_csv("selected_weather_with_index.csv")

In [35]:
# Save selected columns to a CSV file (without index)
selected_cols.to_csv("selected_weather_no_index.csv", index=False)

In [36]:
# Filter data for days with MaxTemp > 35
filtered_data = df[df['MaxTemp'] > 35]
filtered_data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
71,17.5,35.8,0.0,9.4,13.3,SSE,57.0,NNW,NW,6.0,...,24,1011.8,1006.5,0,1,24.7,34.5,No,0.0,No
72,20.9,35.7,0.0,13.8,6.9,SW,50.0,E,WNW,4.0,...,28,1007.6,1003.0,7,2,23.6,34.0,No,2.0,Yes
135,13.8,35.2,0.0,6.4,11.2,SE,48.0,SE,ESE,7.0,...,15,1022.5,1019.3,5,2,21.4,34.1,No,0.0,No

In [37]:

filtered_data.to_csv("high_temperature_data.csv", index=False)

In [38]:

verify_selected = pd.read_csv("selected_weather_no_index.csv")
verify_selected

     MinTemp  MaxTemp  Rainfall
0        8.0     24.3       0.0
1       14.0     26.9       3.6
2       13.7     23.4       3.6
3       13.3     15.5      39.8
4        7.6     16.1       2.8
..       ...      ...       ...
361      9.0     30.7       0.0
362      7.1     28.4       0.0
363     12.5     19.9       0.0
364     12.5     26.9       0.0
365     12.3     30.2       0.0

[366 rows x 3 columns]

In [39]:

verify_filtered = pd.read_csv("high_temperature_data.csv")
verify_filtered

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,17.5,35.8,0.0,9.4,13.3,SSE,57.0,NNW,NW,6.0,...,24,1011.8,1006.5,0,1,24.7,34.5,No,0.0,No
1,20.9,35.7,0.0,13.8,6.9,SW,50.0,E,WNW,4.0,...,28,1007.6,1003.0,7,2,23.6,34.0,No,2.0,Yes
2,13.8,35.2,0.0,6.4,11.2,SE,48.0,SE,ESE,7.0,...,15,1022.5,1019.3,5,2,21.4,34.1,No,0.0,No

In [40]:
# Read and verify the saved high temperature data (again)
verify_filtered = pd.read_csv("high_temperature_data.csv")
verify_filtered

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,17.5,35.8,0.0,9.4,13.3,SSE,57.0,NNW,NW,6.0,...,24,1011.8,1006.5,0,1,24.7,34.5,No,0.0,No
1,20.9,35.7,0.0,13.8,6.9,SW,50.0,E,WNW,4.0,...,28,1007.6,1003.0,7,2,23.6,34.0,No,2.0,Yes
2,13.8,35.2,0.0,6.4,11.2,SE,48.0,SE,ESE,7.0,...,15,1022.5,1019.3,5,2,21.4,34.1,No,0.0,No

In [41]:
#Assingnment for students

import numpy as np
import pandas as pd

daily_sales = np.array([100,200,300,400,500,600,700])
days=['mon','tue','wed','thu','fri','sat','sun']
sales_series = pd.Series(daily_sales, index=days)
sales_series

mon    100
tue    200
wed    300
thu    400
fri    500
sat    600
sun    700
dtype: int64

In [42]:
import pandas as pd

data = {
    'Name': ['Amit', 'Riya', 'Smit', 'Neha', 'Raj'],
    'Maths': [78, 85, 90, 72, 88],
    'Science': [80, 88, 92, 75, 85],
    'English': [70, 82, 89, 68, 80]
}
df = pd.DataFrame(data)

df.to_csv("indata.csv", index=False)

df

   Name  Maths  Science  English
0  Amit     78       80       70
1  Riya     85       88       82
2  Smit     90       92       89
3  Neha     72       75       68
4   Raj     88       85       80

In [43]:
df=pd.read_csv("indata.csv")
df

   Name  Maths  Science  English
0  Amit     78       80       70
1  Riya     85       88       82
2  Smit     90       92       89
3  Neha     72       75       68
4   Raj     88       85       80

In [44]:
import numpy as np

np.mean(df[['Maths','Science','English']])
np.max(df[['Maths','Science','English']])
np.min(df[['Maths','Science','English']])
np.std(df[['Maths','Science','English']])

np.float64(7.356327586204652)

In [45]:
df['percentage']= (np.sum(df[['Maths','Science','English']], axis=1)/300)*100
df

   Name  Maths  Science  English  percentage
0  Amit     78       80       70   76.000000
1  Riya     85       88       82   85.000000
2  Smit     90       92       89   90.333333
3  Neha     72       75       68   71.666667
4   Raj     88       85       80   84.333333

In [46]:
import pandas as pd
import numpy as np


df = pd.read_csv("indata.csv")   
df

   Name  Maths  Science  English
0  Amit     78       80       70
1  Riya     85       88       82
2  Smit     90       92       89
3  Neha     72       75       68
4   Raj     88       85       80

In [47]:
numeric_df = df.select_dtypes(include=[np.number])
numeric_df

   Maths  Science  English
0     78       80       70
1     85       88       82
2     90       92       89
3     72       75       68
4     88       85       80

In [48]:
column_mean = np.mean(numeric_df,axis=0)
column_mean

Maths      82.6
Science    84.0
English    77.8
dtype: float64

In [49]:
column_median = np.median(numeric_df,axis=0)
column_median

array([85., 85., 80.])

In [50]:
row_totals=np.sum(numeric_df,axis=1)
row_totals

0    228
1    255
2    271
3    215
4    253
dtype: int64

In [51]:
max_row_index = np.argmax(row_totals)
max_row_index

np.int64(2)

In [52]:
df.loc[max_row_index]

Name       Smit
Maths        90
Science      92
English      89
Name: 2, dtype: object