In [1]:
import pandas as pd
import numpy as np


df_jan = pd.DataFrame({
    'Day': [1, 2, 3],
    'Sales': [1200, 1500, 1100]
})


df_feb = pd.DataFrame(
    [[1, 1300], [2, 1400], [3, 1600]],
    columns=['Day', 'Sales']
)

print("Jan\n", df_jan)
print("\nFeb\n", df_feb)

Jan
    Day  Sales
0    1   1200
1    2   1500
2    3   1100

Feb
    Day  Sales
0    1   1300
1    2   1400
2    3   1600

In [2]:
month_sales = pd.concat([df_jan, df_feb], ignore_index=True)
print("\nCombined \n", month_sales)

Combined
    Day  Sales
0    1   1200
1    2   1500
2    3   1100
3    1   1300
4    2   1400
5    3   1600

In [3]:

students = pd.DataFrame({
    'Name': ['Amit', 'Riya', 'Sohan']
})

marks = pd.DataFrame(
    np.array([85, 90, 78]),
    columns=['Marks']
)

print("\nStudents:\n", students)
print( "\n",marks)

Students:
     Name
0   Amit
1   Riya
2  Sohan

    Marks
0     85
1     90
2     78

In [4]:
student_result = pd.concat([students, marks], axis=1)
print("\nStudent Result:\n", student_result)

Student Result:
     Name  Marks
0   Amit     85
1   Riya     90
2  Sohan     78

2

In [5]:

import pandas as pd
import numpy as np

students = pd.DataFrame({
    'Student_ID': [1, 2, 3, 4],
    'Name': ['Amit', 'Riya', 'Sohan', 'Neha']
})

marks = pd.DataFrame({
    'Student_ID': [1, 2, 3],
    'Marks': [85, 90, 78]
})

print("Students:\n", students)
print("\nMarks:\n", marks)

Students:
    Student_ID   Name
0           1   Amit
1           2   Riya
2           3  Sohan
3           4   Neha

Marks:
    Student_ID  Marks
0           1     85
1           2     90
2           3     78

In [6]:
inner_join = pd.merge(students, marks, on='Student_ID', how='inner')
print("\nInner Join:\n", inner_join)

left_join = pd.merge(students, marks, on='Student_ID', how='left')
print("\nLeft Join:\n", left_join)

right_join = pd.merge(students, marks, on='Student_ID', how='right')
print("\nRight Join:\n", right_join)

outer_join = pd.merge(students, marks, on='Student_ID', how='outer')
print("\nOuter Join:\n", outer_join)

Inner Join:
    Student_ID   Name  Marks
0           1   Amit     85
1           2   Riya     90
2           3  Sohan     78

Left Join:
    Student_ID   Name  Marks
0           1   Amit   85.0
1           2   Riya   90.0
2           3  Sohan   78.0
3           4   Neha    NaN

Right Join:
    Student_ID   Name  Marks
0           1   Amit     85
1           2   Riya     90
2           3  Sohan     78

Outer Join:
    Student_ID   Name  Marks
0           1   Amit   85.0
1           2   Riya   90.0
2           3  Sohan   78.0
3           4   Neha    NaN

In [7]:
students_indexed = students.set_index('Student_ID')
marks_indexed = marks.set_index('Student_ID')

index_merge = pd.merge(
    students_indexed,
    marks_indexed,
    left_index=True,
    right_index=True,
    how='inner'
)

print("\nIndex-Based Merge:\n", index_merge)

Index-Based Merge:
              Name  Marks
Student_ID
1            Amit     85
2            Riya     90
3           Sohan     78

In [8]:
sales = pd.DataFrame({
    'Product_ID': [101, 102, 103],
    'Quantity': [5, 3, 10]
})

price = pd.DataFrame({
    'Product_ID': [101, 102, 103],
    'Price': [200, 150, 50]
})

merged_sales = pd.merge(sales, price, on='Product_ID')

merged_sales['Total_Cost'] = np.multiply(
    merged_sales['Quantity'],
    merged_sales['Price']
)

print("\nSales with Total Cost:\n", merged_sales)

Sales with Total Cost:
    Product_ID  Quantity  Price  Total_Cost
0         101         5    200        1000
1         102         3    150         450
2         103        10     50         500

In [9]:
#3

In [10]:
import pandas as pd
import numpy as np
students = pd.DataFrame({
    'Student_ID': [1, 2, 3, 4],
    'Name': ['Amit', 'Riya', 'Sohan', 'Neha']
})
marks = pd.DataFrame({
    'Student_ID': [1, 2, 3],
    'Marks': [85, 90, 78]
})

In [11]:
inner = pd.merge(students, marks, on='Student_ID', how='inner')
print(inner)

left = pd.merge(students, marks, on='Student_ID', how='left')
print(left)

right = pd.merge(students, marks, on='Student_ID', how='right')
print(right)

outer = pd.merge(students, marks, on='Student_ID', how='outer')
print(outer)

   Student_ID   Name  Marks
0           1   Amit     85
1           2   Riya     90
2           3  Sohan     78
   Student_ID   Name  Marks
0           1   Amit   85.0
1           2   Riya   90.0
2           3  Sohan   78.0
3           4   Neha    NaN
   Student_ID   Name  Marks
0           1   Amit     85
1           2   Riya     90
2           3  Sohan     78
   Student_ID   Name  Marks
0           1   Amit   85.0
1           2   Riya   90.0
2           3  Sohan   78.0
3           4   Neha    NaN

In [12]:
students_idx = students.set_index('Student_ID')
marks_idx = marks.set_index('Student_ID')

index_merge = pd.merge(
    students_idx,
    marks_idx,
    left_index=True,
    right_index=True,
    how='inner'
)

print(index_merge)

             Name  Marks
Student_ID
1            Amit     85
2            Riya     90
3           Sohan     78

In [13]:
sales = pd.DataFrame({
    'Product_ID': [101, 102, 103],
    'Quantity': [5, 3, 10]
})

prices = pd.DataFrame({
    'Product_ID': [101, 102, 103],
    'Price': [200, 150, 50]
})

merged_sales = pd.merge(sales, prices, on='Product_ID')

merged_sales['Total_Cost'] = np.multiply(
    merged_sales['Quantity'],
    merged_sales['Price']
)

print(merged_sales)

   Product_ID  Quantity  Price  Total_Cost
0         101         5    200        1000
1         102         3    150         450
2         103        10     50         500

In [14]:
import pandas as pd
import numpy as np

data = {
    'Date': ['2024-01-01','2024-01-01','2024-01-02','2024-01-02'],
    'City': ['Ahmedabad','Surat','Ahmedabad','Surat'],
    'Temperature': [30, 28, 31, 29]
}

df = pd.DataFrame(data)
print(df)

         Date       City  Temperature
0  2024-01-01  Ahmedabad           30
1  2024-01-01      Surat           28
2  2024-01-02  Ahmedabad           31
3  2024-01-02      Surat           29

In [15]:
pivot_df = df.pivot(index='Date', columns='City', values='Temperature')
print(pivot_df)

City        Ahmedabad  Surat
Date
2024-01-01         30     28
2024-01-02         31     29

In [16]:
pivot_mean = pd.pivot_table(
    df,
    index='Date',
    columns='City',
    values='Temperature',
    aggfunc='mean',
    fill_value=0
)

print(pivot_mean)

City        Ahmedabad  Surat
Date
2024-01-01       30.0   28.0
2024-01-02       31.0   29.0

In [17]:
pivot_multi = pd.pivot_table(
    df,
    index='City',
    values='Temperature',
    aggfunc=['mean', 'max', 'count']
)

print(pivot_multi)

                 mean         max       count
          Temperature Temperature Temperature
City
Ahmedabad        30.5          31           2
Surat            28.5          29           2

In [18]:
#4

In [19]:
import pandas as pd
import numpy as np

arrays = [
    ['Temperature', 'Temperature', 'Humidity', 'Humidity'],
    ['Morning', 'Evening', 'Morning', 'Evening']
]

columns = pd.MultiIndex.from_arrays(arrays)

data = [
    [30, 28, 60, 65],
    [32, 29, 58, 63]
]

df = pd.DataFrame(data, index=['Ahmedabad', 'Surat'], columns=columns)
print(df)

          Temperature         Humidity
              Morning Evening  Morning Evening
Ahmedabad          30      28       60      65
Surat              32      29       58      63

In [20]:
stacked = df.stack()
print(stacked)

                   Temperature  Humidity
Ahmedabad Evening           28        65
          Morning           30        60
Surat     Evening           29        63
          Morning           32        58

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7592\2831992013.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stacked = df.stack()

In [21]:
unstacked = stacked.unstack()
print(unstacked)

          Temperature         Humidity
              Evening Morning  Evening Morning
Ahmedabad          28      30       65      60
Surat              29      32       63      58

In [22]:
city = ['Ahmedabad', 'Ahmedabad', 'Surat', 'Surat', 'Surat']
weather = ['Sunny', 'Rainy', 'Sunny', 'Cloudy', 'Rainy']

crosstab = pd.crosstab(city, weather)
print(crosstab)

col_0      Cloudy  Rainy  Sunny
row_0
Ahmedabad       0      1      1
Surat           1      1      1

In [23]:
percentage = np.round(
    crosstab.div(crosstab.sum(axis=1), axis=0) * 100,
    2
)
print(percentage)

col_0      Cloudy  Rainy  Sunny
row_0
Ahmedabad    0.00  50.00  50.00
Surat       33.33  33.33  33.33

In [24]:
import pandas as pd
import numpy as np


jan_orders = pd.DataFrame({
    'Order_ID': [1, 2, 3],
    'Product_ID': [101, 102, 101],
    'Quantity': [2, 1, 3],
    'Month': 'Jan',
    'Payment_Type': ['UPI', 'Card', 'UPI']
})


feb_orders = pd.DataFrame({
    'Order_ID': [4, 5],
    'Product_ID': [102, 103],
    'Quantity': [2, 5],
    'Month': 'Feb',
    'Payment_Type': ['Cash', 'UPI']
})

In [25]:
orders = pd.concat([jan_orders, feb_orders], ignore_index=True)
print(orders)

   Order_ID  Product_ID  Quantity Month Payment_Type
0         1         101         2   Jan          UPI
1         2         102         1   Jan         Card
2         3         101         3   Jan          UPI
3         4         102         2   Feb         Cash
4         5         103         5   Feb          UPI

In [26]:
products = pd.DataFrame({
    'Product_ID': [101, 102, 103],
    'Product_Name': ['Notebook', 'Pen', 'Bag'],
    'Price': [50, 20, 300]
})

In [27]:
merged_data = pd.merge(orders, products, on='Product_ID', how='left')
print(merged_data)

   Order_ID  Product_ID  Quantity Month Payment_Type Product_Name  Price
0         1         101         2   Jan          UPI     Notebook     50
1         2         102         1   Jan         Card          Pen     20
2         3         101         3   Jan          UPI     Notebook     50
3         4         102         2   Feb         Cash          Pen     20
4         5         103         5   Feb          UPI          Bag    300

In [28]:
merged_data['Total_Sales'] = np.multiply(
    merged_data['Quantity'],
    merged_data['Price']
)
print(merged_data)

   Order_ID  Product_ID  Quantity Month Payment_Type Product_Name  Price  \
0         1         101         2   Jan          UPI     Notebook     50
1         2         102         1   Jan         Card          Pen     20
2         3         101         3   Jan          UPI     Notebook     50
3         4         102         2   Feb         Cash          Pen     20
4         5         103         5   Feb          UPI          Bag    300

   Total_Sales
0          100
1           20
2          150
3           40
4         1500

In [29]:
pivot_sales = pd.pivot_table(
    merged_data,
    index='Month',
    columns='Product_Name',
    values='Total_Sales',
    aggfunc='sum',
    fill_value=0
)

print(pivot_sales)

Product_Name   Bag  Notebook  Pen
Month
Feb           1500         0   40
Jan              0       250   20

In [30]:
payment_crosstab = pd.crosstab(
    merged_data['Month'],
    merged_data['Payment_Type']
)

print(payment_crosstab)

Payment_Type  Card  Cash  UPI
Month
Feb              0     1    1
Jan              1     0    2

In [31]:
product_sales = merged_data.groupby('Product_Name')['Total_Sales'].sum()

percentage_contribution = np.round(
    (product_sales / product_sales.sum()) * 100,
    2
)

print(percentage_contribution)

Product_Name
Bag         82.87
Notebook    13.81
Pen          3.31
Name: Total_Sales, dtype: float64

In [32]:
#assignment

In [33]:
import pandas as pd
import numpy as np

q1 = pd.DataFrame({
    'Product_ID': [101, 102, 101],
    'Quantity': [10, 5, 8],
    'Quarter': 'Q1'
})

q2 = pd.DataFrame({
    'Product_ID': [101, 103],
    'Quantity': [7, 12],
    'Quarter': 'Q2'
})
q3 = pd.DataFrame({
    'Product_ID': [102, 103],
    'Quantity': [9, 6],
    'Quarter': 'Q3'
})

In [34]:
annual_sales = pd.concat([q1, q2, q3], ignore_index=True)
print("Annual Data:\n", annual_sales)

Annual Data:
    Product_ID  Quantity Quarter
0         101        10      Q1
1         102         5      Q1
2         101         8      Q1
3         101         7      Q2
4         103        12      Q2
5         102         9      Q3
6         103         6      Q3

In [35]:
prices = pd.DataFrame({
    'Product_ID': [101, 102, 103],
    'Price': [50, 20, 300]
})

In [36]:
merged_sales = pd.merge(annual_sales, prices, on='Product_ID', how='left')
print("\nMerged Data:\n", merged_sales)

Merged Data:
    Product_ID  Quantity Quarter  Price
0         101        10      Q1     50
1         102         5      Q1     20
2         101         8      Q1     50
3         101         7      Q2     50
4         103        12      Q2    300
5         102         9      Q3     20
6         103         6      Q3    300

In [37]:
merged_sales['Revenue'] = np.multiply(
    merged_sales['Quantity'],
    merged_sales['Price']
)

print("\n Revenue:\n", merged_sales)

 Revenue:
    Product_ID  Quantity Quarter  Price  Revenue
0         101        10      Q1     50      500
1         102         5      Q1     20      100
2         101         8      Q1     50      400
3         101         7      Q2     50      350
4         103        12      Q2    300     3600
5         102         9      Q3     20      180
6         103         6      Q3    300     1800

In [38]:
total_revenue = merged_sales.groupby('Product_ID')['Revenue'].sum()
print("\nTotal Revenue:\n", total_revenue)

Total Revenue:
 Product_ID
101    1250
102     280
103    5400
Name: Revenue, dtype: int64

In [39]:
#2

In [40]:
import pandas as pd
import numpy as np

data = {
    'City': ['Ahmedabad', 'Ahmedabad', 'Surat', 'Surat', 'Vadodara'],
    'Month': ['Jan', 'Feb', 'Jan', 'Feb', 'Jan'],
    'Temperature': [30, 32, 28, 29, 27]
}

df = pd.DataFrame(data)
print(df)

        City Month  Temperature
0  Ahmedabad   Jan           30
1  Ahmedabad   Feb           32
2      Surat   Jan           28
3      Surat   Feb           29
4   Vadodara   Jan           27

In [41]:
pivot_avg = pd.pivot_table(
    df,
    index='City',
    columns='Month',
    values='Temperature',
    aggfunc='mean',
    fill_value=0
)

print("\nAvg Temperature :\n", pivot_avg)

Avg Temperature :
 Month       Feb   Jan
City
Ahmedabad  32.0  30.0
Surat      29.0  28.0
Vadodara    0.0  27.0

In [42]:
marks_data = {
    'Department': ['CE', 'CE', 'IT', 'IT', 'CE'],
    'Semester': [4, 5, 4, 5, 4],
    'Marks': [75, 80, 70, 85, 78]
}

df_marks = pd.DataFrame(marks_data)

pivot_total = pd.pivot_table(
    df_marks,
    index='Department',
    columns='Semester',
    values='Marks',
    aggfunc='sum',
    fill_value=0
)

print("\nTotal Marks \n", pivot_total)

Total Marks
 Semester      4   5
Department
CE          153  80
IT           70  85

In [43]:
import pandas as pd

data = {
    'Student': ['Amit', 'Riya', 'Sohan'],
    'Maths': [85, 90, 78],
    'Science': [88, 92, 80],
    'English': [75, 85, 72]
}

df = pd.DataFrame(data)
print("Wide Format:\n", df)

Wide Format:
   Student  Maths  Science  English
0    Amit     85       88       75
1    Riya     90       92       85
2   Sohan     78       80       72

In [44]:
long_df = pd.melt(
    df,
    id_vars='Student',
    value_vars=['Maths', 'Science', 'English'],
    var_name='Subject',
    value_name='Marks'
)

print("\nLong Format:\n", long_df)

Long Format:
   Student  Subject  Marks
0    Amit    Maths     85
1    Riya    Maths     90
2   Sohan    Maths     78
3    Amit  Science     88
4    Riya  Science     92
5   Sohan  Science     80
6    Amit  English     75
7    Riya  English     85
8   Sohan  English     72

In [45]:
#4

In [46]:
import pandas as pd
import numpy as np

data = {
    'Department': ['CE', 'CE', 'IT', 'IT', 'CE', 'IT', 'CE'],
    'Grade': ['A', 'B', 'A', 'B', 'A', 'A', 'B']
}

df = pd.DataFrame(data)
print(df)

  Department Grade
0         CE     A
1         CE     B
2         IT     A
3         IT     B
4         CE     A
5         IT     A
6         CE     B

In [47]:
ct = pd.crosstab(df['Department'], df['Grade'])
print("\nCrosstab \n", ct)

Crosstab
 Grade       A  B
Department
CE          2  2
IT          2  1

In [48]:
percentage = np.round(
    (ct / ct.sum(axis=1).values.reshape(-1, 1)) * 100,2)
print("\nPercentage Distribution:\n", percentage)

Percentage Distribution:
 Grade           A      B
Department
CE          50.00  50.00
IT          66.67  33.33