In [1]:
!pip install numpy pandas

Collecting numpy
  Downloading numpy-2.4.1-cp314-cp314-win_amd64.whl.metadata (6.6 kB)
Collecting pandas
  Downloading pandas-3.0.0-cp314-cp314-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diksh\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\diksh\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\diksh\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading numpy-2.4.1-cp314-cp314-win_amd64.whl (12.4 MB)
   ---------------------------------------- 0.0/12.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.4 MB ? eta -:--:--
    --------------------------------------- 0.3/12.4 MB ? eta -:--:--
    --------------------------------------- 0.3/12.4 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.4 MB 662.4 kB/s eta 0:00:18
   -- ------------------------------------- 0.8/12.4 MB 786.3 kB/s eta 0:00:15
   --- ------------------------------------ 1.0/12.4 MB 890.6 kB/s eta 0:00:13
   ---- ----------------------------------- 1.3/12.4 MB 967.9 kB/s eta 0:00:12
   ----- ---------------------------------- 1.6/12.4 MB 992.1 kB/s eta 0:00:11
   ----- ---------------------------------- 1.8/12.4 MB 1.0 MB/s eta 0:00:11
   ----- ---------------------------------- 1.8/12.4 MB 1.0 MB/s eta 0:00:11
   ------ --------------------------------- 2.1/12.4 MB 962.3 kB/s eta 0:00:11
   ------ --------------------------------- 2.1/12.4 MB 962.3 kB/s eta 0:00:11
   ------- -------------------------------- 2.4/12.4 MB 894.1 kB/s eta 0:00:12
   ------- -------------------------------- 2.4/12.4 MB 894.1 kB/s eta 0:00:12
   -------- ------------------------------- 2.6/12.4 MB 869.3 kB/s eta 0:00:12
   --------- ------------------------------ 2.9/12.4 MB 852.6 kB/s eta 0:00:12
   --------- ------------------------------ 2.9/12.4 MB 852.6 kB/s eta 0:00:12
   ---------- ----------------------------- 3.1/12.4 MB 838.2 kB/s eta 0:00:12
   ---------- ----------------------------- 3.1/12.4 MB 838.2 kB/s eta 0:00:12
   ---------- ----------------------------- 3.4/12.4 MB 846.3 kB/s eta 0:00:11
   ----------- ---------------------------- 3.7/12.4 MB 834.8 kB/s eta 0:00:11
   ----------- ---------------------------- 3.7/12.4 MB 834.8 kB/s eta 0:00:11
   ----------- ---------------------------- 3.7/12.4 MB 834.8 kB/s eta 0:00:11
   ------------ --------------------------- 3.9/12.4 MB 789.8 kB/s eta 0:00:11
   ------------ --------------------------- 3.9/12.4 MB 789.8 kB/s eta 0:00:11
   ------------ --------------------------- 3.9/12.4 MB 789.8 kB/s eta 0:00:11
   ------------ --------------------------- 3.9/12.4 MB 789.8 kB/s eta 0:00:11
   ------------ --------------------------- 3.9/12.4 MB 789.8 kB/s eta 0:00:11
   ------------- -------------------------- 4.2/12.4 MB 698.8 kB/s eta 0:00:12
   ------------- -------------------------- 4.2/12.4 MB 698.8 kB/s eta 0:00:12
   ------------- -------------------------- 4.2/12.4 MB 698.8 kB/s eta 0:00:12
   ------------- -------------------------- 4.2/12.4 MB 698.8 kB/s eta 0:00:12
   -------------- ------------------------- 4.5/12.4 MB 650.4 kB/s eta 0:00:13
   -------------- ------------------------- 4.5/12.4 MB 650.4 kB/s eta 0:00:13
   -------------- ------------------------- 4.5/12.4 MB 650.4 kB/s eta 0:00:13
   --------------- ------------------------ 4.7/12.4 MB 618.4 kB/s eta 0:00:13
   --------------- ------------------------ 4.7/12.4 MB 618.4 kB/s eta 0:00:13
   --------------- ------------------------ 4.7/12.4 MB 618.4 kB/s eta 0:00:13
   ---------------- ----------------------- 5.0/12.4 MB 610.4 kB/s eta 0:00:13
   ---------------- ----------------------- 5.0/12.4 MB 610.4 kB/s eta 0:00:13
   ---------------- ----------------------- 5.2/12.4 MB 613.2 kB/s eta 0:00:12
   ---------------- ----------------------- 5.2/12.4 MB 613.2 kB/s eta 0:00:12
   ---------------- ----------------------- 5.2/12.4 MB 613.2 kB/s eta 0:00:12
   ----------------- ---------------------- 5.5/12.4 MB 599.2 kB/s eta 0:00:12
   ----------------- ---------------------- 5.5/12.4 MB 599.2 kB/s eta 0:00:12
   ------------------ --------------------- 5.8/12.4 MB 592.7 kB/s eta 0:00:12
   ------------------ --------------------- 5.8/12.4 MB 592.7 kB/s eta 0:00:12
   ------------------ --------------------- 5.8/12.4 MB 592.7 kB/s eta 0:00:12
   ------------------- -------------------- 6.0/12.4 MB 584.0 kB/s eta 0:00:11
   ------------------- -------------------- 6.0/12.4 MB 584.0 kB/s eta 0:00:11
   ------------------- -------------------- 6.0/12.4 MB 584.0 kB/s eta 0:00:11
   -------------------- ------------------- 6.3/12.4 MB 573.5 kB/s eta 0:00:11
   -------------------- ------------------- 6.3/12.4 MB 573.5 kB/s eta 0:00:11
   -------------------- ------------------- 6.3/12.4 MB 573.5 kB/s eta 0:00:11
   -------------------- ------------------- 6.3/12.4 MB 573.5 kB/s eta 0:00:11
   --------------------- ------------------ 6.6/12.4 MB 561.8 kB/s eta 0:00:11
   --------------------- ------------------ 6.6/12.4 MB 561.8 kB/s eta 0:00:11
   --------------------- ------------------ 6.6/12.4 MB 561.8 kB/s eta 0:00:11
   --------------------- ------------------ 6.6/12.4 MB 561.8 kB/s eta 0:00:11
   --------------------- ------------------ 6.8/12.4 MB 542.7 kB/s eta 0:00:11
   --------------------- ------------------ 6.8/12.4 MB 542.7 kB/s eta 0:00:11
   --------------------- ------------------ 6.8/12.4 MB 542.7 kB/s eta 0:00:11
   --------------------- ------------------ 6.8/12.4 MB 542.7 kB/s eta 0:00:11
   --------------------- ------------------ 6.8/12.4 MB 542.7 kB/s eta 0:00:11
   ---------------------- ----------------- 7.1/12.4 MB 517.0 kB/s eta 0:00:11
   ---------------------- ----------------- 7.1/12.4 MB 517.0 kB/s eta 0:00:11
   ---------------------- ----------------- 7.1/12.4 MB 517.0 kB/s eta 0:00:11
   ---------------------- ----------------- 7.1/12.4 MB 517.0 kB/s eta 0:00:11
   ---------------------- ----------------- 7.1/12.4 MB 517.0 kB/s eta 0:00:11
   ----------------------- ---------------- 7.3/12.4 MB 495.7 kB/s eta 0:00:11
   ----------------------- ---------------- 7.3/12.4 MB 495.7 kB/s eta 0:00:11
   ----------------------- ---------------- 7.3/12.4 MB 495.7 kB/s eta 0:00:11
   ----------------------- ---------------- 7.3/12.4 MB 495.7 kB/s eta 0:00:11
   ----------------------- ---------------- 7.3/12.4 MB 495.7 kB/s eta 0:00:11
   ----------------------- ---------------- 7.3/12.4 MB 495.7 kB/s eta 0:00:11
   ----------------------- ---------------- 7.3/12.4 MB 495.7 kB/s eta 0:00:11
   ------------------------ --------------- 7.6/12.4 MB 470.7 kB/s eta 0:00:11
   ------------------------ --------------- 7.6/12.4 MB 470.7 kB/s eta 0:00:11
   ------------------------ --------------- 7.6/12.4 MB 470.7 kB/s eta 0:00:11
   ------------------------ --------------- 7.6/12.4 MB 470.7 kB/s eta 0:00:11
   ------------------------ --------------- 7.6/12.4 MB 470.7 kB/s eta 0:00:11
   ------------------------- -------------- 7.9/12.4 MB 454.5 kB/s eta 0:00:11
   ------------------------- -------------- 7.9/12.4 MB 454.5 kB/s eta 0:00:11
   ------------------------- -------------- 7.9/12.4 MB 454.5 kB/s eta 0:00:11
   ------------------------- -------------- 7.9/12.4 MB 454.5 kB/s eta 0:00:11
   ------------------------- -------------- 7.9/12.4 MB 454.5 kB/s eta 0:00:11
   -------------------------- ------------- 8.1/12.4 MB 445.6 kB/s eta 0:00:10
   -------------------------- ------------- 8.1/12.4 MB 445.6 kB/s eta 0:00:10
   -------------------------- ------------- 8.1/12.4 MB 445.6 kB/s eta 0:00:10
   -------------------------- ------------- 8.1/12.4 MB 445.6 kB/s eta 0:00:10
   -------------------------- ------------- 8.4/12.4 MB 439.9 kB/s eta 0:00:10
   -------------------------- ------------- 8.4/12.4 MB 439.9 kB/s eta 0:00:10
   -------------------------- ------------- 8.4/12.4 MB 439.9 kB/s eta 0:00:10
   -------------------------- ------------- 8.4/12.4 MB 439.9 kB/s eta 0:00:10
   -------------------------- ------------- 8.4/12.4 MB 439.9 kB/s eta 0:00:10
   --------------------------- ------------ 8.7/12.4 MB 427.6 kB/s eta 0:00:09
   --------------------------- ------------ 8.7/12.4 MB 427.6 kB/s eta 0:00:09
   --------------------------- ------------ 8.7/12.4 MB 427.6 kB/s eta 0:00:09
   --------------------------- ------------ 8.7/12.4 MB 427.6 kB/s eta 0:00:09
   --------------------------- ------------ 8.7/12.4 MB 427.6 kB/s eta 0:00:09
   ---------------------------- ----------- 8.9/12.4 MB 418.3 kB/s eta 0:00:09
   ---------------------------- ----------- 8.9/12.4 MB 418.3 kB/s eta 0:00:09
   ---------------------------- ----------- 8.9/12.4 MB 418.3 kB/s eta 0:00:09
   ---------------------------- ----------- 8.9/12.4 MB 418.3 kB/s eta 0:00:09
   ---------------------------- ----------- 8.9/12.4 MB 418.3 kB/s eta 0:00:09
   ----------------------------- ---------- 9.2/12.4 MB 410.6 kB/s eta 0:00:08
   ----------------------------- ---------- 9.2/12.4 MB 410.6 kB/s eta 0:00:08
   ----------------------------- ---------- 9.2/12.4 MB 410.6 kB/s eta 0:00:08
   ----------------------------- ---------- 9.2/12.4 MB 410.6 kB/s eta 0:00:08
   ----------------------------- ---------- 9.2/12.4 MB 410.6 kB/s eta 0:00:08
   ------------------------------ --------- 9.4/12.4 MB 406.0 kB/s eta 0:00:08
   ------------------------------ --------- 9.4/12.4 MB 406.0 kB/s eta 0:00:08
   ------------------------------ --------- 9.4/12.4 MB 406.0 kB/s eta 0:00:08
   ------------------------------ --------- 9.4/12.4 MB 406.0 kB/s eta 0:00:08
   ------------------------------ --------- 9.4/12.4 MB 406.0 kB/s eta 0:00:08
   ------------------------------- -------- 9.7/12.4 MB 396.5 kB/s eta 0:00:07
   ------------------------------- -------- 9.7/12.4 MB 396.5 kB/s eta 0:00:07
   ------------------------------- -------- 9.7/12.4 MB 396.5 kB/s eta 0:00:07
   ------------------------------- -------- 9.7/12.4 MB 396.5 kB/s eta 0:00:07
   ------------------------------- -------- 9.7/12.4 MB 396.5 kB/s eta 0:00:07
   ------------------------------- -------- 9.7/12.4 MB 396.5 kB/s eta 0:00:07
   -------------------------------- ------- 10.0/12.4 MB 388.8 kB/s eta 0:00:07
   -------------------------------- ------- 10.0/12.4 MB 388.8 kB/s eta 0:00:07
   -------------------------------- ------- 10.0/12.4 MB 388.8 kB/s eta 0:00:07
   -------------------------------- ------- 10.0/12.4 MB 388.8 kB/s eta 0:00:07
   -------------------------------- ------- 10.2/12.4 MB 385.5 kB/s eta 0:00:06
   -------------------------------- ------- 10.2/12.4 MB 385.5 kB/s eta 0:00:06
   -------------------------------- ------- 10.2/12.4 MB 385.5 kB/s eta 0:00:06
   -------------------------------- ------- 10.2/12.4 MB 385.5 kB/s eta 0:00:06
   -------------------------------- ------- 10.2/12.4 MB 385.5 kB/s eta 0:00:06
   -------------------------------- ------- 10.2/12.4 MB 385.5 kB/s eta 0:00:06
   --------------------------------- ------ 10.5/12.4 MB 379.4 kB/s eta 0:00:06
   --------------------------------- ------ 10.5/12.4 MB 379.4 kB/s eta 0:00:06
   --------------------------------- ------ 10.5/12.4 MB 379.4 kB/s eta 0:00:06
   --------------------------------- ------ 10.5/12.4 MB 379.4 kB/s eta 0:00:06
   ---------------------------------- ----- 10.7/12.4 MB 376.9 kB/s eta 0:00:05
   ---------------------------------- ----- 10.7/12.4 MB 376.9 kB/s eta 0:00:05
   ---------------------------------- ----- 10.7/12.4 MB 376.9 kB/s eta 0:00:05
   ---------------------------------- ----- 10.7/12.4 MB 376.9 kB/s eta 0:00:05
   ----------------------------------- ---- 11.0/12.4 MB 374.7 kB/s eta 0:00:04
   ----------------------------------- ---- 11.0/12.4 MB 374.7 kB/s eta 0:00:04
   ----------------------------------- ---- 11.0/12.4 MB 374.7 kB/s eta 0:00:04
   ----------------------------------- ---- 11.0/12.4 MB 374.7 kB/s eta 0:00:04
   ----------------------------------- ---- 11.0/12.4 MB 374.7 kB/s eta 0:00:04
   ------------------------------------ --- 11.3/12.4 MB 369.9 kB/s eta 0:00:04
   ------------------------------------ --- 11.3/12.4 MB 369.9 kB/s eta 0:00:04
   ------------------------------------ --- 11.3/12.4 MB 369.9 kB/s eta 0:00:04
   ------------------------------------ --- 11.3/12.4 MB 369.9 kB/s eta 0:00:04
   ------------------------------------ --- 11.3/12.4 MB 369.9 kB/s eta 0:00:04
   ------------------------------------ --- 11.3/12.4 MB 369.9 kB/s eta 0:00:04
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.5/12.4 MB 341.8 kB/s eta 0:00:03
   ------------------------------------- -- 11.8/12.4 MB 280.8 kB/s eta 0:00:03
   -------------------------------------- - 12.1/12.4 MB 281.5 kB/s eta 0:00:02
   -------------------------------------- - 12.1/12.4 MB 281.5 kB/s eta 0:00:02
   -------------------------------------- - 12.1/12.4 MB 281.5 kB/s eta 0:00:02
   -------------------------------------- - 12.1/12.4 MB 281.5 kB/s eta 0:00:02
   -------------------------------------- - 12.1/12.4 MB 281.5 kB/s eta 0:00:02
   ---------------------------------------  12.3/12.4 MB 276.3 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.4 MB 276.3 kB/s eta 0:00:01
   ---------------------------------------- 12.4/12.4 MB 277.0 kB/s  0:00:35
Downloading pandas-3.0.0-cp314-cp314-win_amd64.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.9 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.9 MB 297.1 kB/s eta 0:00:32
   -- ------------------------------------- 0.5/9.9 MB 297.1 kB/s eta 0:00:32
   -- ------------------------------------- 0.5/9.9 MB 297.1 kB/s eta 0:00:32
   --- ------------------------------------ 0.8/9.9 MB 334.9 kB/s eta 0:00:28
   --- ------------------------------------ 0.8/9.9 MB 334.9 kB/s eta 0:00:28
   --- ------------------------------------ 0.8/9.9 MB 334.9 kB/s eta 0:00:28
   --- ------------------------------------ 0.8/9.9 MB 334.9 kB/s eta 0:00:28
   ---- ----------------------------------- 1.0/9.9 MB 337.8 kB/s eta 0:00:27
   ---- ----------------------------------- 1.0/9.9 MB 337.8 kB/s eta 0:00:27
   ----- ---------------------------------- 1.3/9.9 MB 368.8 kB/s eta 0:00:24
   ----- ---------------------------------- 1.3/9.9 MB 368.8 kB/s eta 0:00:24
   ----- ---------------------------------- 1.3/9.9 MB 368.8 kB/s eta 0:00:24
   ------ --------------------------------- 1.6/9.9 MB 389.1 kB/s eta 0:00:22
   ------ --------------------------------- 1.6/9.9 MB 389.1 kB/s eta 0:00:22
   ------- -------------------------------- 1.8/9.9 MB 404.7 kB/s eta 0:00:20
   -------- ------------------------------- 2.1/9.9 MB 449.3 kB/s eta 0:00:18
   -------- ------------------------------- 2.1/9.9 MB 449.3 kB/s eta 0:00:18
   -------- ------------------------------- 2.1/9.9 MB 449.3 kB/s eta 0:00:18
   --------- ------------------------------ 2.4/9.9 MB 459.8 kB/s eta 0:00:17
   --------- ------------------------------ 2.4/9.9 MB 459.8 kB/s eta 0:00:17
   ---------- ----------------------------- 2.6/9.9 MB 471.9 kB/s eta 0:00:16
   ---------- ----------------------------- 2.6/9.9 MB 471.9 kB/s eta 0:00:16
   ---------- ----------------------------- 2.6/9.9 MB 471.9 kB/s eta 0:00:16
   ----------- ---------------------------- 2.9/9.9 MB 470.7 kB/s eta 0:00:15
   ----------- ---------------------------- 2.9/9.9 MB 470.7 kB/s eta 0:00:15
   ----------- ---------------------------- 2.9/9.9 MB 470.7 kB/s eta 0:00:15
   ------------ --------------------------- 3.1/9.9 MB 455.1 kB/s eta 0:00:15
   ------------ --------------------------- 3.1/9.9 MB 455.1 kB/s eta 0:00:15
   ------------ --------------------------- 3.1/9.9 MB 455.1 kB/s eta 0:00:15
   ------------ --------------------------- 3.1/9.9 MB 455.1 kB/s eta 0:00:15
   ------------- -------------------------- 3.4/9.9 MB 449.0 kB/s eta 0:00:15
   ------------- -------------------------- 3.4/9.9 MB 449.0 kB/s eta 0:00:15
   -------------- ------------------------- 3.7/9.9 MB 455.1 kB/s eta 0:00:14
   -------------- ------------------------- 3.7/9.9 MB 455.1 kB/s eta 0:00:14
   --------------- ------------------------ 3.9/9.9 MB 463.6 kB/s eta 0:00:13
   --------------- ------------------------ 3.9/9.9 MB 463.6 kB/s eta 0:00:13
   ----------------- ---------------------- 4.2/9.9 MB 469.7 kB/s eta 0:00:13
   ----------------- ---------------------- 4.2/9.9 MB 469.7 kB/s eta 0:00:13
   ------------------ --------------------- 4.5/9.9 MB 476.1 kB/s eta 0:00:12
   ------------------- -------------------- 4.7/9.9 MB 494.8 kB/s eta 0:00:11
   -------------------- ------------------- 5.0/9.9 MB 513.8 kB/s eta 0:00:10
   --------------------- ------------------ 5.2/9.9 MB 529.5 kB/s eta 0:00:09
   ---------------------- ----------------- 5.5/9.9 MB 545.9 kB/s eta 0:00:08
   ---------------------- ----------------- 5.5/9.9 MB 545.9 kB/s eta 0:00:08
   ----------------------- ---------------- 5.8/9.9 MB 558.2 kB/s eta 0:00:08
   ------------------------ --------------- 6.0/9.9 MB 574.7 kB/s eta 0:00:07
   ------------------------- -------------- 6.3/9.9 MB 584.0 kB/s eta 0:00:07
   -------------------------- ------------- 6.6/9.9 MB 593.1 kB/s eta 0:00:06
   --------------------------- ------------ 6.8/9.9 MB 603.9 kB/s eta 0:00:06
   --------------------------- ------------ 6.8/9.9 MB 603.9 kB/s eta 0:00:06
   ---------------------------- ----------- 7.1/9.9 MB 613.0 kB/s eta 0:00:05
   ---------------------------- ----------- 7.1/9.9 MB 613.0 kB/s eta 0:00:05
   ----------------------------- ---------- 7.3/9.9 MB 611.8 kB/s eta 0:00:05
   ------------------------------ --------- 7.6/9.9 MB 617.4 kB/s eta 0:00:04
   ------------------------------ --------- 7.6/9.9 MB 617.4 kB/s eta 0:00:04
   ------------------------------- -------- 7.9/9.9 MB 622.1 kB/s eta 0:00:04
   ------------------------------- -------- 7.9/9.9 MB 622.1 kB/s eta 0:00:04
   -------------------------------- ------- 8.1/9.9 MB 623.7 kB/s eta 0:00:03
   -------------------------------- ------- 8.1/9.9 MB 623.7 kB/s eta 0:00:03
   -------------------------------- ------- 8.1/9.9 MB 623.7 kB/s eta 0:00:03
   ---------------------------------- ----- 8.4/9.9 MB 613.8 kB/s eta 0:00:03
   ---------------------------------- ----- 8.4/9.9 MB 613.8 kB/s eta 0:00:03
   ---------------------------------- ----- 8.4/9.9 MB 613.8 kB/s eta 0:00:03

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

In [3]:
print("NumPy Version:", np.__version__)
print("Pandas Version:", pd.__version__)

NumPy Version: 2.4.1
Pandas Version: 3.0.0

In [4]:
arr_int = np.array([10, 20, 30, 40, 50])
arr_float = np.array([1.5, 2.5, 3.5, 4.5])
arr_mixed = np.array([10, 2.5, "Hello"])

In [5]:
print("Integer Array:", arr_int)
print("Float Array:", arr_float)
print("Mixed Array:", arr_mixed)

Integer Array: [10 20 30 40 50]
Float Array: [1.5 2.5 3.5 4.5]
Mixed Array: ['10' '2.5' 'Hello']

In [6]:
x = np.array([10, 20, 30, 40])
y = np.array([2, 4, 6, 8])

print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)

Addition: [12 24 36 48]
Subtraction: [ 8 16 24 32]
Multiplication: [ 20  80 180 320]
Division: [5. 5. 5. 5.]

In [7]:
print("Mean:", np.mean(x))
print("Max:", np.max(x))
print("Min:", np.min(x))
print("Standard Deviation:", np.std(x))

Mean: 25.0
Max: 40
Min: 10
Standard Deviation: 11.180339887498949

In [8]:
sales = np.array([1200, 1500, 1800, 1100, 1600, 2000, 1700])
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

s = pd.Series(sales, index=days)
print(s)

Mon    1200
Tue    1500
Wed    1800
Thu    1100
Fri    1600
Sat    2000
Sun    1700
dtype: int64

In [10]:
print("First element using iloc:", s.iloc[0])
print("Slice using iloc [1:4]:\n", s.iloc[1:4])

First element using iloc: 1200
Slice using iloc [1:4]:
 Tue    1500
Wed    1800
Thu    1100
dtype: int64

In [11]:
print("Value of Mon using loc:", s.loc["Mon"])
print("Mon to Thu using loc:\n", s.loc["Mon":"Thu"])

Value of Mon using loc: 1200
Mon to Thu using loc:
 Mon    1200
Tue    1500
Wed    1800
Thu    1100
dtype: int64

In [12]:
print("Head:\n", s.head())
print("Tail:\n", s.tail())
print("Describe:\n", s.describe())

Head:
 Mon    1200
Tue    1500
Wed    1800
Thu    1100
Fri    1600
dtype: int64
Tail:
 Wed    1800
Thu    1100
Fri    1600
Sat    2000
Sun    1700
dtype: int64
Describe:
 count       7.000000
mean     1557.142857
std       320.713490
min      1100.000000
25%      1350.000000
50%      1600.000000
75%      1750.000000
max      2000.000000
dtype: float64

In [13]:
data = {
    "Name": ["Aman", "Riya", "Hetu", "Neha"],
    "Math": [85, 92, 78, 88],
    "Science": [80, 90, 75, 95]
}

df = pd.DataFrame(data)
df

   Name  Math  Science
0  Aman    85       80
1  Riya    92       90
2  Hetu    78       75
3  Neha    88       95

In [14]:
print("Shape:", df.shape)
print("Columns:", df.columns)
print("Index:", df.index)
print("Dtypes:\n", df.dtypes)

df.info()

Shape: (4, 3)
Columns: Index(['Name', 'Math', 'Science'], dtype='str')
Index: RangeIndex(start=0, stop=4, step=1)
Dtypes:
 Name         str
Math       int64
Science    int64
dtype: object
<class 'pandas.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     4 non-null      str
 1   Math     4 non-null      int64
 2   Science  4 non-null      int64
dtypes: int64(2), str(1)
memory usage: 228.0 bytes

In [15]:
df.describe()

            Math    Science
count   4.000000   4.000000
mean   85.750000  85.000000
std     5.909033   9.128709
min    78.000000  75.000000
25%    83.250000  78.750000
50%    86.500000  85.000000
75%    89.000000  91.250000
max    92.000000  95.000000

In [16]:
df["Math"]

0    85
1    92
2    78
3    88
Name: Math, dtype: int64

In [17]:
df[["Math", "Science"]]

   Math  Science
0    85       80
1    92       90
2    78       75
3    88       95

In [18]:
df.loc[0]

Name       Aman
Math         85
Science      80
Name: 0, dtype: object

In [19]:
df.loc[0:2]

   Name  Math  Science
0  Aman    85       80
1  Riya    92       90
2  Hetu    78       75

In [20]:
df.iloc[0:3, 1:3]

   Math  Science
0    85       80
1    92       90
2    78       75

In [21]:
high_math = df[df["Math"] > 85]
high_math

   Name  Math  Science
1  Riya    92       90
3  Neha    88       95

In [22]:
df["Total"] = df["Math"] + df["Science"]
df

   Name  Math  Science  Total
0  Aman    85       80    165
1  Riya    92       90    182
2  Hetu    78       75    153
3  Neha    88       95    183

In [23]:
df["Percentage"] = (df["Total"] / 200) * 100
df

   Name  Math  Science  Total  Percentage
0  Aman    85       80    165        82.5
1  Riya    92       90    182        91.0
2  Hetu    78       75    153        76.5
3  Neha    88       95    183        91.5

In [24]:
df.to_csv("student_result.csv", index=False)
print("Saved as student_result.csv")

Saved as student_result.csv

In [25]:
df_new = pd.read_csv("student_result.csv")
print("Shape after reload:", df_new.shape)
df_new.head()

Shape after reload: (4, 5)

   Name  Math  Science  Total  Percentage
0  Aman    85       80    165        82.5
1  Riya    92       90    182        91.0
2  Hetu    78       75    153        76.5
3  Neha    88       95    183        91.5

In [26]:
numeric_cols = df_new.select_dtypes(include=np.number)

print("Numeric columns:\n", numeric_cols)

print("\nColumn-wise Mean (NumPy):\n", np.mean(numeric_cols, axis=0))
print("\nColumn-wise Median (NumPy):\n", np.median(numeric_cols, axis=0))

Numeric columns:
    Math  Science  Total  Percentage
0    85       80    165        82.5
1    92       90    182        91.0
2    78       75    153        76.5
3    88       95    183        91.5

Column-wise Mean (NumPy):
 Math           85.750
Science        85.000
Total         170.750
Percentage     85.375
dtype: float64

Column-wise Median (NumPy):
 [ 86.5   85.   173.5   86.75]

In [27]:
row_totals = numeric_cols.sum(axis=1)
max_index = row_totals.idxmax()

print("Row with highest total:\n")
df_new.loc[max_index]

Row with highest total:

Name          Neha
Math            88
Science         95
Total          183
Percentage    91.5
Name: 3, dtype: object